mat-card-header {
  text-align: center;
  margin: auto;
}

mat-card {
  margin: 3rem auto;
  max-width: 35rem;
  width: 90%;
  text-align: center;
}

.form-field {
  width: 98%;
  margin: 1%;
}

mat-card-actions {
  gap: 1rem;
}
