<mat-toolbar
  class="toolbar"
  color="primary"
>
  <a
    mat-button
    routerLink="/"
  >
    <h1>RSS Connections</h1>
  </a>

  <span class="spacer"></span>

  @if (isAuth$ | async) {
    <a
      class="toolbar__profile-btn"
      mat-raised-button
      color="primary"
      routerLink="profile"
    >
      <mat-icon>account_box</mat-icon>
      Profile
    </a>
  }

  <mat-slide-toggle
    class="toggle-dark-theme"
    (change)="switchMode($event)"
    [checked]="theme"
  >
  </mat-slide-toggle>
</mat-toolbar>

<router-outlet></router-outlet>
